/* General Styles */

.container {
	margin-bottom: 50px;
}

.button {
	background-color: black;
	color: white;
	font-weight: 700;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 20px;
}

.arrow {
	font-size: 30px;
}

.seeAll {
	color: coral;
}
/* General Styles end */

/* Carousel */

.carousel-item {
	padding: 20px 30px;
}

ol.carousel-indicators li {
	background-color: gray;
}

ol.carousel-indicators li.active {
	background-color: orange;
	width: 10%;
	border-radius: 50%;
}

.carousel-item p {
	color: gray;
	width: 80%;
}

/* Carousel ends */

/* Card */
.card {
	background-color: none;
	border: none;
	box-shadow: 5px 5px 10px lightgray;
}

.card-footer {
	border: none;
	background-color: white;
}
/* Card end */
